<div class="title"><h1>Eres nuevo?</h1></div>

<%= render 'form' %>

<div class="buttons">
	<p ><%= link_to 'Back', :back %></p>
<!-- no funciona -->
	<p>
		<a href="welcome"><%= link_to 'Home', :welcome %></a>	
	</p>
</div>
