<header class="header">
  <main class = "container">
    <div class="nav_container">
      <nav class="nav">
        <ul class="main_menu">
          <li><a href="posts/new">LOGIN</a></li>
          <li><a href="#top">HOME</a></li>
          <li><a href="#post">TEXTS</a></li>
          <li><a href="#contact">ABOUT ME</a></li>
        </ul>
      </nav>
    </div>
    <section class="welcome">
      <div class="vista-lista-post">
        <p>imagen con la lista de todos los posts, actualizados</p>
      </div>
      <div class="markdown-info">
          <p>informacion para utilizar markdown en la web</p>
      </div>
      <h1 class="welcome-text">BIENVENIDO A TEXTL0G ,Publica y comparte un pedazito de ti.</h1>
      <div class="buscador-post">
          <p>buscador con opciones, usuarios , titulos de textos, palabras clave?</p>
      </div>
    </section>
 	</main>
</header>

