<header class="header">
  <main class = "container">
    <div class="nav_container">
      <nav class="nav">
        <ul class="main_menu">
          <li><a href="/users/sign_in">LOG IN</a></li>
          <li><a href="#top">HOME</a></li>
          <li><a href="/:user_name/posts">TEXTS</a></li>
          <li><a href="#contact">ABOUT ME</a></li>
          <li class="logout"><%= link_to 'LOG OUT', destroy_user_session_path, method: :delete %></li>
        </ul>
      </nav>
    </div>
    <section class="welcome">
      <div class="vista-lista-post">
        <p>imagen con la lista de todos los posts, actualizados</p>
        <% if current_user  %>
          <%= link_to("allpost", posts_path(current_user.username)) %>
        <% end %>
      </div>
      <div class="markdown-info">
          <p>informacion para utilizar markdown en la web</p>
      </div>
      <h1 class="welcome-text">BIENVENIDO A TEXTL0G ,Publica y comparte un pedacito de ti.</h1>
      <div class="buscador-post">
          <input type="text" name="buscador" value="text">buscador con opciones, usuarios , titulos de textos, palabras clave?</input>
      </div>
    </section>
 	</main>
</header>

