<header class="header">
	<a>
    <img src="http://www.bycac.co.uk/images/crafty_carper_logo.png" alt="Logo Carper" class="logo">
  </a>

  <main class = "container">
    <div class="nav_container">
 			<a href="users/new"><button type="submit" id="button">LOGIN</button></a>
      <nav class="nav">
        <ul class="main_menu">
          <li><a href="#top">HOME</a></li>
          <li><a href="#post">TEXTS</a></li>
          <li><a href="#contact">ABOUT ME</a></li>
        </ul>
      </nav>
    </div>
 	</main>
</header>

