<header class="header">
  <main class = "container">
    <%= render 'shared/nav_bar' %>
    <section class="welcome">
      <div class="vista-lista-post">
        <p>imagen con la lista de todos los posts, actualizados</p>
        <% if current_user %>
          <%= link_to("allpost", posts_path(current_user.username)) %>
        <% end %>
      </div>
      <div class="markdown-info">
          <p>informacion para utilizar markdown en la web</p>
      </div>
      <h1 class="welcome-text">BIENVENIDO A TEXTL0G ,Publica y comparte un pedacito de ti.</h1>
      <div class="buscador-post">
          <input type="text" name="buscador" value="text">buscador con opciones, usuarios , titulos de textos, palabras clave?</input>
      </div>
    </section>
 	</main>
</header>

