<h1 class="post-header">Todos los posts</h1>
<section class="container">
	<nav class="nav">
	    <ul class="main_menu">
	      <li><a href="/users/sign_up">LOG IN</a></li>
	      <li><a href="/">HOME</a></li>
	      <li><a href="/:user_name/posts">TEXTS</a></li>
	      <li><a href="">ABOUT ME</a></li>
	    </ul>
	</nav>
	<div class="table">
    <table>
        <thead>
          <tr class="list-users">
            <th>User</th>
            <th>Titulo</th>
            <th>Contenido</th>
          
            <th colspan="3"></th>
          </tr>
        </thead>
    </table>
    </div>
    <button><% link_to 'Back', :back %></button>
    <button><% link_to 'New Post' %></button>
    
</section>