<h1 class="post-header">Todos los posts</h1>
<section class="container">
	<div class="table">
    <table>
        <thead>
          <tr class="list-users">
            <th>User</th>
            <th>Titulo</th>
            <th>Contenido</th>
          
            <th colspan="3"></th>
          </tr>
        </thead>
    </table>
    </div>
	<button><% link_to 'back' %></button>
</section>