<div class="post-card">
  <%= link_to post_path(post.user.username, post.slug) do %>
    <div class="post-title">
      <%= post.title %>
    </div>
    <div class="post-date">
      <%= distance_of_time_in_words(post.created_at, Time.now) %>
    </div>

    <div class="post-body">
      <%= post.rendered.html_safe %>
    </div>
  <% end %>
</div>
