
<tr>
  <td><%= link_to post.title, post_path(post.user.username, post.slug) %></td>
  <td><%= post.body %></td>
  <td><%=link_to 'Edit', edit_post_path(post.user.username, post.slug) if can_edit?(post) %></td>
</tr>
