<link rel="stylesheet" href="/posts">
<h1 class= "post-header">Listing all posts</h1>
<section class="container">
  <%= render 'shared/nav_bar' %>
  <%= render partial: 'post', collection: @posts %>
</section>
