<link rel="stylesheet" href="/posts">
<h1 class= "post-header">Listing posts</h1>
<section class="container">
  <%= render 'shared/nav_bar' %>
  <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, post_path(@user.username, post.slug) %></td>
      <td><%= post.body %></td>
    </tr>
  <% end %>
</section>
