<div class="title-post">
	<header><%= @post.title %></header>
</div>
<div class= "post-content">
	<%= @post.rendered.html_safe %>
</div>
<div class="link">
	<%= link_to("Back", posts_path(@post.user.username)) %>
	<%= link_to("Edit", edit_post_path(current_user.username, @post)) if can_edit?(@post) %>
</div>
