* {
  box-sizing: border-box;
}
.navbar-brand{
  float: left;
  padding: 15px;
  font-size: 18px;
  line-height: 20px;
  color:#777;
}
.collapse-navbar{
  width:100%;
  height:80px;
  float: left;
  margin: 0px;
  padding-left: 0px;
  list-style: outside none none;
  line-height: 30px;
  background-color: #F8F8F8;
}
.button-red{
  background-color: darkred;
  border-radius: 5px;
  width: 100px;
  height: 25px;
  text-align: center;
  float:right;
}
.navbar-default {
  white-space: nowrap;
}
.navbar-nav{
  li{
    float: left;
    position: relative;
    display: block;
    text-align: center;
    padding:1em;
    width: 20%;
    border-radius: 5px;
    border: 1px solid darkred;
    &.button {
      background-color: #90EE90;
      border: 1px solid #90EE90;
    }
  }
  a{
    text-align:center;
    color:#777;
    text-decoration:none;
    margin:25px;
  }
  p{
    margin:1em auto;
  }
}
.navbar-text{
  float:right;
}
