* {
  box-sizing: border-box;
}
.navbar-brand{
  float: left;
  padding: 15px;
  font-size: 18px;
  line-height: 20px;
  color:#777;
}
.navbar-default {
  white-space: nowrap;
  position: relative;
  padding-top: 20px;
}
.whoyouare {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 20px;
}
.navbar-nav{
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0px;
  li{
    float: left;
    position: relative;
    display: block;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 5px;
    border: 1px solid darkred;
    &.button {
      background-color: #90EE90;
      border: 1px solid #90EE90;
    }
    &.button-red {
      background-color: darkred;
    }
  }
  a{
    text-align:center;
    color:black;
    text-decoration:none;
    width: 100%;
    margin: 20px;
  }
  p{
    margin:1em auto;
  }
}
.navbar-text{
  float:right;
}
