// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.title-post{
	width:25%;
	margin: auto;
	background-color: lightsalmon;
	text-align:center;
	color:black;
	border-radius:5px;
	margin-bottom:30px;
}
.post-content{
	max-width:920px;
	height: 100%;
	background-color:lightsalmon;
	margin: 0 auto;
	padding:1em;
	text-align:justify;
	border-radius: 2em;
}
.post-header{
	background-color:lightsalmon;
	margin: 0 auto;
	padding:1em;
	text-align:center;
	border-radius: 2em;
	margin-top:1em;
	margin-bottom:1em;

}
.posts-table{
	width: 75%;
	height: 75%;
	background-color:lightsalmon;
	margin: 0 auto;
	padding:1em;
	text-align:center;
	border-radius: 2em;
}
.list-users{
	width: 75%;
	height: 75%;
	background-color:lightsalmon;
	margin: 0 auto;
	padding:2em;
	text-align:justify;
	border-radius: 2em;
	margin-top:2em;
}
.container{
	width:60%;
	height:700px;
	margin: auto;
	border-radius:10px;
}


.post-list {
  clear: both;
}
.post-actions {
  clear: both;
}
.post-link {
  margin-top: 1em;
  margin-bottom: 1em;
}
