// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.title-post{
	width: 50%;
	margin: auto auto 30px;
	text-align: center;
	color: #000;
	border-radius: 5px;
	border: 1px solid #8B0000;
	margin-top: 20px;
	font-size: 45px;
}
.post-content{
	max-width:920px;
	height: 100%;
	margin: 0 auto;
	padding:1em;
	text-align:justify;
	border-radius: 2em;
	border: 1px solid darkred;
	background-color:darkred;

}
.post-header{
	margin: 0 auto;
	padding:1em;
	text-align:center;
	border-radius: 2em;
	margin-top:1em;
	margin-bottom:1em;
	border: 1px solid #8B0000;

}
.posts-table{
	width: 75%;
	height: 75%;
	margin: 0 auto;
	padding:1em;
	text-align:center;
	border-radius: 2em;
}
.list-users{
	width: 75%;
	height: 75%;
	margin: 0 auto;
	padding:2em;
	text-align:justify;
	border-radius: 2em;
	margin-top:2em;
}
.container{
	width:60%;
	height:700px;
	margin: auto;
	border-radius:10px;
}


.post-list {
  clear: both;
}
.post-actions {
  clear: both;

}
.post-link {
  	margin-top: 1em;
  	margin-bottom: 1em; 
	font-size: 20px;
	border: 1px solid darkred;
	border-radius: 5px;
	background-color: #8B0000;
	margin: 10px auto;
	margin-left: 10px;
	float: right;
}
