// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.title-post{
	width:25%;
	margin: auto;
	background-color: lightsalmon;
	text-align:center;
	color:black;
	border-radius:5px;
	margin-bottom:30px;
}
.post-content{
	max-width:920px;
	height: 100%;
	background-color:lightsalmon;
	margin: 0 auto;
	padding:1em;
	text-align:center;
	border-radius: 2em;
}
.post-header{
	width: 20%;
	height: 20%;
	background-color:lightsalmon;
	margin: 0 auto;
	padding:1em;
	text-align:center;
	border-radius: 2em;
	margin-top:1em;
	margin-bottom:1em;

}
.posts-table{
	width: 75%;
	height: 75%;
	background-color:lightsalmon;
	margin: 0 auto;
	padding:1em;
	text-align:center;
	border-radius: 2em;
}
.list-users{
	width: 75%;
	height: 75%;
	background-color:lightsalmon;
	margin: 0 auto;
	padding:2em;
	text-align:center;
	border-radius: 2em;
	margin-top:2em;
}
.container{
	width:60%;
	height:700px;
	margin: auto;
	border-radius:10px;
}
.main_menu{
	width:100%;
	height:15%;
	line-height: 50px;
	margin: 0 auto;
	float:right;
	padding:0.1 em;
	margin-bottom:30px;

	li {
		text-align: left;
		width:24%;
		display: inline-block;
		text-align:center;
		background-color:black;  
		border-radius:5px; 
	}
}
.table{
	background-color: #000;
	width: 500px;
	margin: 50px auto;
	float:left;
	margin-left:16em;
	height:500px;

}
.link{
	width: 5%;
	height: 5%;
	background-color:black;
	margin: 0 auto;
	padding:1em;
	text-align:center;
	border-radius: 2em;
	display:inline-block;

}
