// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  width: 100%;
  height: 100%;
  background-size: cover;
}

.nav_container{
  margin:0 auto;
  max-width: 900px;
  border-color: #E7E7E7;

}
.container{
  width:60%;
  height:700px;
  margin: auto;
  border-radius:10px;
}

.welcome{

  border-radius:5px;
  width: 75%;
  float: left;
  margin-top: 50px;
  margin-left: 100px;
  height: 75%;
  h1{
    width:25%;
    text-align: center;
    color:darkred;
    size:30px;
    width: 100%; 
    margin-top: 20px;
  }
}
.vista-lista-post{
  width:49%;
  height:200px;
  background-color:darkred;
  float:left;
  border-radius:5px;
}
.markdown-info{
  width:49%;
  height:200px;
  background-color:darkred;
  float:right;
  border-radius:5px;
}
.buscador-post{
  width:60%;
  height:200px;
  background-color:darkred;
  margin:auto;
  border-radius:5px;
}
