// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-size: cover;
  background-image: image-url("aves-sunset.jpg");
}

.nav_container{
  margin:0 auto;
  max-width: 900px;
  border-color: #E7E7E7;

}
.container{
  width:60%;
  height:700px;
  margin: auto;
  border-radius:10px;
}

.welcome{

  border-radius:5px;
  width: 75%;
  float: left;
  margin-top: 50px;
  margin-left: 100px;
  height: 75%;
  h1{
    width:25%;
    text-align: center;
    color:darkred;
    font-size:40px;
    width: 100%; 
    margin-top: 20px;
  }
}
.vista-lista-post{
  width:49%;
  height:200px;
  border: 1px solid darkred;
  float:left;
  border-radius:25px;
  background-color:darkred;
  p{
    color: #FFF;
    text-align: center;
    font-size:20px;
  }
}
.markdown-info{
  width:49%;
  height:200px;
  background-color:darkred;
  float:right;
  border-radius:25px;
  overflow: hidden;
    img{
      width: 100%;
    }
    a{
      width: 100%;
      display: block;
      height: 100%;
      background-image: image-url("markdown.jpg");
      background-size: 100%;
    }
}
.primer-post{
  float:left;
  background-color: darkred;
  width: 100px;
  border-radius:5px;
}